




@font-face{
    font-family: "Myriad";
    src: url( '../fonts/Myriad_Bold.ttf' ) format( 'truetype');
 }

 @font-face{
    font-family: "Lalezar";
    src: url( '../fonts/Lalezar-Regular.ttf' ) format( 'truetype');
 }


body{
    direction: rtl;
    background: #071642;
    font-family: 'Myriad';
    max-width: 1700px;
    margin: 0 auto;
}

.navbar{
    background: #182050;
}
.navbar a{
    color: #fff;
    z-index: 2;
}

.logo{
    width: 140px;
}
.navbar .navbar-toggler{
    border: 1px solid #fff;
}
.navbar .navbar-toggler span{
    color: #fff;
    font-size: 20px;
}


header{
    position: relative;
    width: 100%;
    height: 900px;
}
header .background{
    width: 100%;
    height: auto;
    z-index: 1;
    margin-top: -100px;
}
header .text{
    line-height: 259%;
    width: 40%;
    margin-right: -1%;
    text-align: center;
    color: #fff;
    font-weight: bolder;
    margin-top: -38%;
    font-size: 120%;
}
 header .text button{
    border: 0;
    font-family: Lalezar;
    width: 43%;
    height: 36px;
    border-radius: 25px;
    color: #091744;
    font-weight: bolder;
 }
header .text h2{
    font-weight: bolder;
    font-size: 70px;
    font-family: Lalezar;
}
header .text h3{
    font-weight: bolder;
font-size: 20px;
}
/* header .star{
    position: relative;
    width: 66%;
    height: 600px;
    margin-top: -649px;
    z-index: 2;
} */

header .Caracter{
    margin-top: -23%;
    margin-left: 20%;
    width: 16%;
}

.part2 {
    position: relative;
    width: 100%;
    margin-top: 20px;
    height: 168px;
    margin-bottom: 27%;
}
.part2 .backgruond{
    position: relative;
    margin-left: 10%;
    width: 80%;
    height: 100%;
    z-index: -1;

}

.part2 .caracter{
    z-index: 1;
    margin-top: -100px;
    margin-left: 68%;
    height: auto;
    width: 20%;
}

.part2 .texts{
    margin-top: 62px;
    width: 80%;
    right: calc(5%);
    height: 100%;
}
.part2 .text1{
    width: 20%;
    font-size: 10px;
    bottom: 60%;
    margin-right: 10%;
    position: absolute;
    font-weight: bolder;
}

.part2 .text2{
    width: 20%;
    font-size: 10px;
    bottom: 60%;
    margin-right: 34%;
    line-height: 1px;
    top: 20px;
    position: absolute;
    font-weight: bolder;
    height: 127px;
    overflow-y: scroll;
    padding-left: 19px;
    font-size: 39px;
    line-height: 30px;
    height: 363px;
}

.part2 .text2 b{
    width: 20%;
    line-height: 1px;
    font-size: 10px;
    margin-top: -24%;
    margin-right: 35%;
    /* background: #fff; */
    font-family: Lalezar;
    font-weight: bolder;
    margin-left: 10%;
}
.part2 .text3{
    width: 20%;
    font-size: 9px;
    bottom: 60%;
    left: 22%;
    line-height: 10px;
    top: 20px;
    position: absolute;
    font-weight: bolder;
    text-align: right;
}

.part3{
    position: relative;
    width: 100%;
    height: 700px;
    margin-bottom: 160px;
}
.part3 .text{
    font-family: Lalezar;
    right: 2%;
    top: -369px;
    color: #fff;
    font-size: 23px;
    width: 94%;
    position: relative;
    text-align: center;
}
.part3 .text h2{
    font-size: 65px;
    font-weight: bolder;
    width: 100%;
}

.part3 .spin-loc{
    position: relative;
    width: 200px;
    top: 416px;
    right: calc(50% - 100px);
}
.part3 .spin{
    position: relative;
    margin-top: 5%;
    width: 200px;
    height: 200px;
    background: #fff;
    /* right: calc(90% - 200px); */
    border-radius: 50%;
}

.part3 .Triangle{
    width: 1px;
    height: 1px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f00;
    left: -75px;
    position: relative;
}
.part3 .spinImg{
    width: 200px;
}

.part4{
    width: 100%;
    height: auto;
    background: #fcdd39;
}

.part4 .text1{
    position: absolute;
    margin-top: -36%;
    margin-right: 9%;
    font-weight: bolder;
    color: #fff;
    font-family: Lalezar;
    text-align: center;
}
.part4 .text11{
    position: absolute;
    margin-top: -28%;
    margin-right: 23%;
    font-weight: bolder;
    color: #000;
    font-size: 8px;
    font-family: Lalezar;
    text-align: center;
}

.part4 .img1{
    width: 23%;
    margin-top: -20%;
    margin-left: -6%;
}
.part4 .img2{
    width: 20%;
    margin-left: -5%;
    margin-top: 20%;
    margin-bottom: 5%;
}
.part4 .img3{
    width: 25%;
    margin-top: -16%;
    margin-left: -5%;
}
.part4 .img4{
    margin-left: -5%;
    width: 21%;
    margin-top: 22%;
    margin-bottom: 5%;
}
.part4 .img5{

    width: 23%;
    margin-top: -16%;
    margin-left: 3%;

}

.part5{
    width: 100%;
    height: auto;
}

.part5 .text{
    width: 75%;
    right: 20%;
    position: relative;
    color: #fff;
    text-align: right;
    top: -50px;
    font-family: Lalezar;
}
.part5 .logo{
    width: 15%;
    top: 50px;
    height: 100px;
    /* background: tomato; */
    padding-top: 0%;
    right: 6%;
    position: relative;
}

.part5 .logo img{
    margin-top: 20%;
}

.part6{
    width: 100%;
    height: 100%;
    background: #fcdd39;
}

.part6{
    width: 100%;
    height: 50px;
    background: #000000;
}



@media screen and (min-width: 300px) {
    .part3 .spinImg {
        width: 250px;
    }

    .part3 .spin {
        position: relative;
        margin-top: 5%;
        width: 250px;
        height: 250px;
        background: #fff;
        right: calc(90% - 200px);
        border-radius: 50%;
    }


    .part2 {
        height: 200px;
    }

    .part2 .caracter {
        margin-top: -85px;
        margin-left: 70%;
        width: 16%;
    }

    .part2 .text1{
        font-size: 17px;
    }

    .part2 .text2{
        font-size: 15px;
        line-height: 3px;
        height: 150px;
    }

    .part2 .text2 b{
        line-height: 5px;
        font-size: 14px;
    }
    .part2 .text3{
        font-size: 12px;
        line-height: 15px;
    }

}

@media screen and (min-width: 400px) {
    .part3 .spinImg {
        width: 250px;
    }

    .part3 .spin {
        position: relative;
        margin-top: 5%;
        width: 250px;
        height: 250px;
        background: #fff;
        right: calc(90% - 200px);
        border-radius: 50%;
    }


    .part2 {
        height: 200px;
    }

    .part2 .caracter {
        margin-top: -85px;
        margin-left: 70%;
        width: 16%;
    }

    .part2 .text1{
        font-size: 17px;
    }

    .part2 .text2{
        font-size: 15px;
        line-height: 3px;
        height: 150px;
    }

    .part2 .text2 b{
        line-height: 5px;
        font-size: 14px;
    }
    .part2 .text3{
        font-size: 12px;
        line-height: 15px;
    }

}

@media screen and (min-width: 550px) {
    .part2 {
        height: 250px;
    }

    .part2 .caracter {
        margin-top: -147px;
        margin-left: 70%;
        width: 16%;
    }
    .part2 .text1{
        font-size: 21px;
    }

    .part2 .text2{
        font-size: 18px;
        line-height: 7px;
        height: 200px;
    }

    .part2 .text2 b{
        line-height: 30px;
        font-size: 17px;
    }
    .part2 .text3{
        font-size: 15px;
        line-height: 15px;
    }
}

@media screen and (min-width: 700px) {
    .part2 {
        height: 300px;
    }

    .part2 .caracter {
        margin-top: -147px;
        margin-left: 70%;
        width: 16%;
    }

    .part2 .text1{
        font-size: 25px;
        line-height: 10px;
    }

    .part2 .text2{
        font-size: 20px;
        line-height: 7px;
        height: 250px;
    }

    .part2 .text2 b{
        line-height: 33px;
        font-size: 17px;
    }
    .part2 .text3{
        font-size: 17px;
        line-height: 15px;
    }
}

@media screen and (min-width: 800px) {
    .part2 {
        height: 350px;
    }

    .part2 .caracter {
        margin-top: -169px;
        margin-left: 71%;
        width: 16%;
    }

    .part2 .text1{
        font-size: 25px;
        line-height: 10px;
    }

    .part2 .text2{
        font-size: 24px;
        line-height: 15px;
        height: 290px;
    }


    .part2 .text2 b{
        line-height: 33px;
        font-size: 17px;
    }
    .part2 .text3{
        font-size: 21px;
        line-height: 22px;
    }
}

@media screen and (min-width: 1000px) {
    .part3{
        height: 450px;
    }

    .part3 .spin-loc {
        position: relative;
        width: 200px;
        right: calc(100% - 450px);
        top: 62px;
    }
    .part3 .spin{
        width: 400px;
        height: 400px;
        margin-left: 20px;
        position: relative;
        /* left: 55%; */
        margin-top: -35%;
    }

    .part3 .Triangle{
        left: -70%;
        top: -71px;
    }

    .part3 .spinImg {
        width: 400px;
    }


    .part2 {
        height: 400px;
    }

    .part2 .caracter {
        margin-top: -203px;
        margin-left: 71%;
        width: 14%;
    }

    .part3 .text {
        font-family: Lalezar;
        right: -8%;
        top: -369px;
        color: #fff;
        font-size: 23px;
        width: 52%;
        position: relative;
        text-align: center;
    }

    .part2 .text1{
        font-size: 28px;
        line-height: 26px;
    }

    .part2 .text2{
        font-size: 29px;
        line-height: 20px;
        height: 320px;
    }


    .part2 .text2 b{
        line-height: 33px;
        font-size: 22px;
    }
    .part2 .text3{
        font-size: 25px;
        line-height: 29px;
    }
    #show-award {
        right: 25px !important;
    }
}

@media screen and (min-width: 1250px) {
    .part2 {
        height: 450px;
    }

    .part2 .caracter {
        margin-top: -229px;
        margin-left: 71%;
        width: 14%;
    }

    .part2 .text1{
        font-size: 35px;
        top: 119px;
        line-height: 10px;
    }

    .part2 .text2{
        font-size: 39px;
        line-height: 30px;
        height: 363px;
    }


    .part2 .text2 b{
        line-height: 38px;
        font-size: 20px;
    }
    .part2 .text3{
        font-size: 27px;
        line-height: 30px;
    }
}

@media screen and (max-width: 1250px) {
    header{
        height: 650px;
    }

    header .text{
        line-height: 184%;
        width: 40%;
        margin-right: -1%;
        text-align: center;
        color: #fff;
        font-weight: bolder;
        margin-top: -38%;
        font-size: 14px;
    }
    header .text h2{
        font-weight: bolder;
        font-size: 50px;
    }
    header .text h3{
        font-weight: bolder;
    font-size: 16px;
    }
}

@media screen and (max-width: 1000px) {
    header{
        top: 74px;
        height: 600px;
    }
    .part3 .Triangle{
        left: -42%;
    }
}

@media screen and (max-width: 800px) {
    header {
        height: 450px;

    }

    header .text{
        line-height: 154%;
        width: 40%;
        font-size: 12px;
    }
    header .text h2{
        font-weight: bolder;
        font-size: 30px;
    }
    header .text h3{
        font-weight: bolder;
    font-size: 14px;
    }
}

@media screen and (max-width: 700px) {
    header {
        height: 400px;
    }
}

@media screen and (max-width: 500px) {
    .navbar-brand img {
        margin-left: 36px;
        width: 103px;
    }
    header{
        height: 350px;
    }
    header .text{
        line-height: 124%;
        width: 40%;
        font-size: 8px;
    }
    header .text h2{
        font-weight: bolder;
        font-size: 30px;
    }
    header .text h3{
        font-weight: bolder;
    font-size: 11px;
    }
    .part3{
        height: 600px;
    }
    .part3 .text{
        font-size: 17px;
    }
    .part3 .text h2 {
        font-size: 50px;
        font-weight: bolder;
        width: 100%;
    }
    .part3 .spin-loc {
        position: relative;
        width: 200px;
        top: 326px;
        right: calc(50% - 100px);
    }

}
@media screen and (max-width: 400px) {
    header{
        height: 300px;
    }
    header .text{
        line-height: 59%;
        width: 40%;
        font-size: 7px;
    }
    header .text h2{
        font-weight: bolder;
        font-size: 20px;
    }
    header .text h3{
        font-weight: bolder;
    font-size: 9px;
    }

    header .text button {
        border: 0;
        font-family: Lalezar;
        width: 50%;
        height: 36px;
        border-radius: 25px;
        color: #091744;
        font-weight: bolder;
    }
}
/* @media screen and (max-width: 950px) {
    .part3{
        height: 250px;
    }
    .part3 .spin-loc {
        position: relative;
        width: 200px;
        right: calc(100% - 250px);
    }

} */



/* width */
::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #0008ff;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
